.profile_wrapper {
    min-height: 250px;

    display: grid;
    grid-template-columns: 3fr 9fr;
}

.avatar_img {
    display: block;
    margin: auto;
}

.avatar_img img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.info_wrapper {
    padding-left: 20px;

    display: grid;
    grid-template-rows: 3fr 5fr 3fr;
}

.username_block {
    display: flex;
    align-items: center;
}

.username {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Ubuntu', monospace;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.2em;
    color: #000000;
}

.subscribe {
    margin: 0 5% 0 auto;
    font-family: 'Ubuntu', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.quote_block {
    text-align: center;
    display: block;
    background-repeat: no-repeat;
    background-size: 98% 100%;
    background-image: url(../../../images/quote-cut.png);
}

.quote_block p {
    position: relative;
    top: 42%;
    margin: auto;
    padding: 0 15%;
}

.publications_block {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.publications_block span {
    font-weight: bold;
}





.posts_wrapper {
    display: grid;
    grid-template-columns: 2.5fr 7fr 2.5fr;
}

.posts_table {
    margin-bottom: 3%;
}


.posts_rows {
    margin: 5% 0;
}

.posts_rows:after {
    content: "";
    display: table;
    clear: both;
}


.posts_column {
    margin-bottom: 1%;
    float: left;
    width: 320px;
    height: 400px;
    background: url(../../../images/photo-frame.png) no-repeat;
    background-size: 100% 100%;
}

.post_img {
    padding: 8%;
    height: 71%;
    width: 83%;
}

.post_description {
    display: flex;
    padding: 5px 10%;
    margin: -1em;
    align-items: center;
}

.post_description p {
    margin: 0;
    padding-left: 5%;
}

.post_description_like {
    display: flex;
    margin-left: auto;
    margin-right: 13%;
    height: 15%;
    width: 17%;
}

.post_description_like img {
    height: 100%;
    width: 100%;
}

.bottom_right {
    margin-bottom: -0.2em;
    margin-top: auto;
    margin-left: -0.2em;
}