.forgot_block {
    text-align: center;
    padding-top: 5px;
    min-height: 40px;
}

/*.forgot_link {*/
/*    color: gray;*/
/*    text-decoration-line: none;*/
/*    font-style: italic;*/
/*    font-family: 'Ubuntu Mono', monospace;*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    line-height: 15px;*/
/*    transform: translateX(-30%);*/
/*}*/

/*.forgot_link:hover{*/
/*    color: black;*/
/*}*/

.forgot_link {
    margin: 0;
    color: red;
    font-style: italic;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}