.body_main_theme {
    background-image: url(../../images/main-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main_wrapper {
    height: 100%;
    width: 100%;
}

.content_wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2.5fr 7fr 2.5fr;
}

.main {
    background: #F9E9FA;
    border-radius: 20px;
    padding: 10px 20px;
}

.is_subscribed {
    color: #89118B;
}

.is_subscribed:active {
    color: #89118B;
}

.is_not_subscribed {
    color: darkgrey;
}

.is_not_subscribed:active {
    color: darkgrey;
}

.is_me {
    color: sandybrown;
}