.main_height {
    height: 860px;
}

.search_wrapper {
    height: 100%;
}

.searcher {
    margin: 2% 4% 0 4%;
}

.searcher input {
    border-radius: 10px;
    width: 85%;
    height: 45px;
    outline: none;
    font-size: 25px;

    background: url(../../../images/magnifier.svg) whitesmoke no-repeat scroll 7px 7px;
    background-size: 35px 35px;
    padding-left: 6%;
}

.search_result_block {
    height: 85%;
    overflow-y: auto;
    margin: 3% 4% 0 2%;
}

.search_result_block::-webkit-scrollbar {
    width: 16px;
}

.search_result_block::-webkit-scrollbar-track {
    background-color: #dcdcdc;
    border-radius: 100px;
}

.search_result_block::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

.result {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.result:hover {
    fill: #2049D8;
}

.result_arrow {
    margin-right: 3%;
    height: 50px;
}

.avatar_img {
    display: block;
    margin-right: 3%;
}

.avatar_img img {
    width: 90px;
    height: 90px;
    border-radius: 150px;
}

.info {

}
